<!-- templates/header.html -->

<header>
    <div class="logo-container">
        <div class="logo"></div>
        <h1 class="logo-text">ABEESnBev</h1>
    <!-- Navigation links -->
    {% if current_user.is_authenticated %}
        <p>   Hello, {{ current_user.username }} | <a href="{{ url_for('logout') }}">Logout   </a> | </p>
        <p>
            <a href="{{ url_for('index') }}"> Home</a> | 
            <a href="{{ url_for('view_cart') }}">Cart</a> | 
            <a href="{{ url_for('view_orders') }}">Orders</a>
            {% if current_user.is_admin %}
                | <a href="{{ url_for('admin_products') }}">Admin Dashboard</a>
            {% endif %}
        </p>
    {% else %}
        <p>
            <a href="{{ url_for('index') }}">Home</a> | 
            <a href="{{ url_for('login') }}">Login</a> | 
            <a href="{{ url_for('register') }}">Register</a>
        </p>
    {% endif %}
    <hr>
</header>