<!-- templates/orders.html -->

{% extends "base.html" %}

{% block title %}My Orders - E-commerce{% endblock %}

{% block content %}
    <h1>My Orders</h1>
    {% if orders %}
        <ul>
            {% for order in orders %}
                <li>
                    <p><strong>Order ID:</strong> {{ order.id }}</p>
                    <p><strong>Total Price:</strong> ${{ "%.2f"|format(order.total_price) }}</p>
                    <p><strong>Date:</strong> {{ order.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    <h3>Items:</h3>
                    <ul>
                        {% for item in order.items %}
                            <li>{{ item.product.name }} - <strong>Quantity:</strong> {{ item.quantity }}</li>
                        {% else %}
                            <li>No items in this order.</li>
                        {% endfor %}
                    </ul>
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no orders.</p>
    {% endif %}
{% endblock %}
